
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<header class="bk-header">
    <div class="background-image-layer">
    {{widget('extendednavigation', 'navigationheader', {})|raw}}
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
             {{widget('content', 'headercontent', {"content":"<p>STEAKHOUSE & BAR</p>"})|raw}}
        </div>
    </div>
    </div><!--end wrapper clearfix-->
</header>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div> 

<div class="wrapper clearfix">
        {{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>
</footer>

</div>

{% endblock %}
