{% extends "layout.twig" %}

{% block content %}

<div class="feature-overlay">
    {{widget('feature', 'featurehome', {"header": "", "strapline":"", "buttonText":"","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false})|raw}}
    <header class="bk-header">
    {% if pages|length > 1 %}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    {% endif %}
    <div class="wrapper">
        <div class="companyheader">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('content', 'headercontent', {"content":"<h4>STEAKHOUSE &amp; BAR</h4>"})|raw}}
        </div>
    </div>
</header>
</div>

<div class="wrapper clearfix">
    {{widget('menusections', 'menusections1', {})|raw}}
    {{widget('menu', 'menu1', {})|raw}}
    {{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
    {{zone('main')|raw}}
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>    
</footer>

{% endblock %}